# Practice Exercise - 04

### Question 1:

We have two sets given below. Print the set of elements that are present in either set1 or set2 but not both.

set1 = {1, 2, 3, 4, 5}
<br>set2 = {4, 5, 6, 7}

#### Expected Output:

{1, 2, 3, 6, 7}

In [2]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7}
set1.symmetric_difference(set2)

{1, 2, 3, 6, 7}

### Question 2:

Print all the keys of the dictionary given below.

myDict = {1:'One', 2:'Two', 3:'Three'}

#### Expected Output:

dict_keys([1, 2, 3])

In [4]:
myDict = {1:'One', 2:'Two', 3:'Three'}
myDict.keys()
print(myDict.keys())

dict_keys([1, 2, 3])

### Question 3:

We have two sets given below. Print the elements common to both the sets.

set1 = {1, 2, 3, 4, 5}
<br>set2 = {4, 5, 6, 7}

#### Expected Output:

{4, 5}

In [5]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7}
set1.intersection(set2)

{4, 5}

### Question 4:

We have a dictionary given below. Delete the item with key '3,' and add an item with key '7' and value 'Black.'

color = {1:'Red', 2:'Orange', 3:'White', 4:'Brown', 5:'Yellow'}

#### Expected Output:

{1: 'Red', 2: 'Orange', 4: 'Brown', 5: 'Yellow', 7: 'Black'}

In [10]:
color = {1:'Red', 2:'Orange', 3:'White', 4:'Brown', 5:'Yellow'}
del color[3]
color[7] = "Black"
color

{1: 'Red', 2: 'Orange', 4: 'Brown', 5: 'Yellow', 7: 'Black'}

### Question 5:

We have two sets given below. Check if set1 is a subset of set2.

set1 = {2, 4, 6}
<br>set2 = {2, 4, 6, 8, 10}

#### Expected Output:

True

In [11]:
set1 = {2, 4, 6}
set2 = {2, 4, 6, 8, 10}
set1.issubset(set2)

True

### Question 6:

Merge the two dictionaries given below.

myDict1 = {1:'One', 2:'Two', 3:'Three'}
<br>myDict2 = {4:'Four', 5:'Five', 6:'Six'}

#### Expected Output:

{1: 'One', 2: 'Two', 3: 'Three', 4: 'Four', 5: 'Five', 6: 'Six'}

In [14]:
myDict1 = {1:'One', 2:'Two', 3:'Three'}
myDict2 = {4:'Four', 5:'Five', 6:'Six'}
myDict1.update(myDict2)
myDict1

{1: 'One', 2: 'Two', 3: 'Three', 4: 'Four', 5: 'Five', 6: 'Six'}

### Question 7:

We have two sets given below. Print the elements that are present in set1 but not in set2.

set1 = {2, 3, 4, 5}
<br>set2 = {2, 4, 6, 8}

#### Expected Solution:

{3, 5}

In [15]:
set1 = {2, 3, 4, 5}
set2 = {2, 4, 6, 8}
set1.difference(set2)

{3, 5}

### Question 8:

We have a dictionary given below. Copy this dictionary into another dictionary 'replica,' and change the value of the key 103 to 'Sally' in the replica dictionary only. Finally, print both the dictionaries.

student_details = {101:'Judy', 102:'Victor', 103:'Sam'}

#### Expected Output:

{101: 'Judy', 102: 'Victor', 103: 'Sam'}
<br>{101: 'Judy', 102: 'Victor', 103: 'Sally'}

In [21]:
import copy
student_details = {101:'Judy', 102:'Victor', 103:'Sam'}
student_details1 =copy.deepcopy(student_details)
student_details1[103] ="Sally"
print(student_details)
print(student_details1)

{101: 'Judy', 102: 'Victor', 103: 'Sam'}
{101: 'Judy', 102: 'Victor', 103: 'Sally'}

### Question 9:

Remove all the duplicate items from the tuple given below.

myTuple = ('Red', 'Blue', 'Green', 'Red', 'Orange', 'Green')

#### Expected Output:

{'Blue', 'Green', 'Orange', 'Red'}

In [24]:
myTuple = ('Red', 'Blue', 'Green', 'Red', 'Orange', 'Green')
mySet = set(myTuple)
mySet

{'Blue', 'Green', 'Orange', 'Red'}

### Question 10:

Print the number and the cube of that number in a dictionary from 0 to 5.

#### Expected Output:

{0: 0, 1: 1, 2: 8, 3: 27, 4: 64, 5: 125}

In [27]:
{i:i**3 for i in range(0,6)}

{0: 0, 1: 1, 2: 8, 3: 27, 4: 64, 5: 125}

In [31]:
my_dict = {}
for i in range(0,6):
    my_dict[i] = i**3
my_dict

{0: 0, 1: 1, 2: 8, 3: 27, 4: 64, 5: 125}