# Practice Exercise - 03

### Question 1:

Convert the string given below into a list by taking each word separated by a comma as an element.

languages = "Java, Python, C++, Scala, C"

#### Expected Output:

['Java', ' Python', ' C++', ' Scala', ' C']

In [3]:
languages = "Java, Python, C++, Scala, C"
languages.split(',')

['Java', ' Python', ' C++', ' Scala', ' C']

In [7]:
result = list(languages)
print(result)

['J', 'a', 'v', 'a', ',', ' ', 'P', 'y', 't', 'h', 'o', 'n', ',', ' ', 'C', '+', '+', ',', ' ', 'S', 'c', 'a', 'l', 'a', ',', ' ', 'C']

### Question 2:

We have a list of numbers given below. Add the element '10' at the 3rd position of the list and finally print the list.

num_list = [5, 6, 8, 7, 9]

#### Expected Output:

[5, 6, 8, 10, 7, 9]

In [5]:
num_list = [5,6,8,7,9]
num_list.append(10)
print(num_list)

[5, 6, 8, 7, 9, 10]

### Question 3:

Print all the multiples of 3 between 5 and 25.

#### Expected Output:

6
<br>9
<br>12
<br>15
<br>18
<br>21
<br>24

In [8]:
for i in range(5,25):
    if i % 3 == 0:
        print(i)
    else:
        pass

6
9
12
15
18
21
24

### Question 4:

We have a list of numbers given below. Print the square of these numbers into another list using list comprehension.

num = [2, 4, 6, 8]

#### Expected Output:

[4, 16, 36, 64]

In [9]:
num = [2, 4, 6, 8]
num2 = []
for i in num:
    r = i*i
    num2.append(r)
print(num2)

[4, 16, 36, 64]

In [12]:
print([i**2 for i in num])

[4, 16, 36, 64]

### Question 5:

Print the first 10 natural numbers.

#### Expected Output:

1
<br>2
<br>3
<br>4
<br>5
<br>6
<br>7
<br>8
<br>9
<br>10

In [15]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [14]:
print([i for i in range(1,11)])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### Question 6:

We have a tuple of numbers given below. Remove the largest number from the tuple and print it in sorted order.

num_tuple = (5, 8, 13, 2, 17, 1)

#### Expected Output:

[1, 2, 5, 8, 13]

In [19]:
num_tuple = (5, 8, 13, 2, 17, 1)
sorted_num = sorted(num_tuple)
sorted_num.pop()
print(sorted_num)

[1, 2, 5, 8, 13]

### Question 7:

Convert the list given below into a string using a comma as a separator argument.

myList = ['Lenovo', ' Dell', ' Acer', ' Asus', ' HP']

#### Expected Output:

'Lenovo, Dell, Acer, Asus, HP'

In [21]:
myList = ['Lenovo', ' Dell', ' Acer', ' Asus', ' HP']
new_list = ','.join(myList)
new_list
print(new_list)

Lenovo, Dell, Acer, Asus, HP

### Question 8:

Print all the even numbers between -10 and 0.

#### Expected Output:

-10
<br>-8
<br>-6
<br>-4
<br>-2

In [22]:
for i in range(-10,0):
    if i % 2 == 0:
        print(i)
    else:
        pass

-10
-8
-6
-4
-2

### Question 9:

Reverse the integer given below.

n = 5623

#### Expected Output:

3265

In [23]:
n = 5623
reversed_num = int(''.join(reversed(str(n))))
print(reversed_num)

3265

In [ ]:
| Method       | Code                             | Converts to String? | Output |
| ------------ | -------------------------------- | ------------------- | ------ |
| Slicing      | `int(str(n)[::-1])`              | ✅                   | 3265   |
| While Loop   | use `%` and `//`                 | ❌                   | 3265   |
| Recursion    | custom function                  | ❌                   | 3265   |
| `reversed()` | `int(''.join(reversed(str(n))))` | ✅                   | 3265   |

### Question 10:

We have a list of numbers given below. Print the number, square of the number, and the cube of the number, all in a single list.

num = [2, 4, 6, 8]

#### Expected Output:

[(2, 4, 8), (4, 16, 64), (6, 36, 216), (8, 64, 512)]

In [24]:
num = [2, 4, 6, 8]
print([(x,x*x,x**3) for x in num])

[(2, 4, 8), (4, 16, 64), (6, 36, 216), (8, 64, 512)]